<!DOCTYPE html>
<html ng-app='bountyMongo'>
<head>
    <meta charset="UTF-8">
    <title>BountyMongo</title>
    <!--dev:livereload-->
    <script src="//localhost:35729/livereload.js"></script>

    <script src="./vendor/components/jquery/jquery.js"></script>
    <!--<script src="./vendor/components/bootstrap/dist/js/bootstrap.js"></script>-->

    <script src="./vendor/components/angular/angular.js"></script>
    <!--<script src="./vendor/components/angular-resource/angular-resource.js"></script>-->
    <!--<script src="./vendor/components/angular-route/angular-route.js"></script>-->
    <link rel="stylesheet" href="./dist/style.css">
    <script src="./dist/script.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                BountyMongo
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-6" ng-controller="SidebarCtrl">
        <div class="well-sm">
            <label>Server List:</label>
            <select ng-model="selectedServer" ng-options="server.host for server in serversList"></select>
            <p>Chose server: {{selectedServer}}</p>
        </div>
        <div class="well-sm">
            <database selected-database="selectedDatabase" database-list="databaseList"></database>
        </div>
        <div class="well-sm">
            <label>Database List:</label>
            <select ng-model="selectedDatabase" ng-options="database.name for database in databasesList"></select>

            <p>Chose database: {{selectedDatabase}}</p>
        </div>
        <div class="well-sm">
            <label>Collection List:</label>
            <select ng-model="selectedCollection"
                    ng-options="collection.name for collection in collectionsList"></select>

            <p>Chose collection: {{selectedCollection}}</p>
        </div>
        <div class="well-sm">
            <pre>{{documents|json}}</pre>
        </div>
    </div>

    <div class="col-lg-6" ng-controller="RecordsCtrl">
        <!--<pagination num-pages="numPages" current-page="currentPage"></pagination>-->
        <pre>{{records|json}}</pre>

        <!--<div class="well-sm">-->
        <!--<pre>{{databases|json}}</pre>-->
        <!--</div>-->
        <!--<div class="well-sm">-->
        <!--<pre>{{collections|json}}</pre>-->
        <!--</div>-->
        <!--<pagination num-pages="numPages" current-page="currentPage"></pagination>-->
        <!--<div>Number of Pages: <input ng-model="numPages" type="number"></div>-->
        <!--<div>Current Page: <input ng-model="currentPage" type="number"></div>-->
    </div>
</div>

</body>
</html>

