<!DOCTYPE html>
<html ng-app='bountyMongo'>
<head>
    <meta charset="UTF-8">
    <title>BountyMongo</title>
    <!--dev:livereload-->
    <script src="//localhost:35729/livereload.js"></script>

    <script src="./vendor/components/jquery/jquery.js"></script>
    <!--<script src="./vendor/components/bootstrap/dist/js/bootstrap.js"></script>-->

    <script src="./vendor/components/angular/angular.js"></script>
    <!--<script src="./vendor/components/angular-resource/angular-resource.js"></script>-->
    <!--<script src="./vendor/components/angular-route/angular-route.js"></script>-->
    <link rel="stylesheet" href="./dist/style.css">
    <script src="./dist/script.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                BountyMongo
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-6" ng-controller="SidebarCtrl">
        <div class="well-sm">
            <label>Server List:</label>
            <select ng-model="server" ng-options="server.host for server in serverList"></select>
            <p>Chose server: {{server}}</p>
        </div>
        <div class="well-sm">
            <ul class="sidebar-database-list">
                <li sidebar-database ng-repeat="database in databaseList"></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6" ng-controller="RecordsCtrl">
        <pagination total-items="records.count" current-page="page"></pagination>
        <pre>{{records|json}}</pre>
    </div>
</div>

</body>
</html>

