<!DOCTYPE html>
<html lang="en" ng-app='bountyMongo'>
<head>
  <meta charset="utf-8">
  <title>BountyMongo</title>
  <!--dev:livereload-->
  <script src="//localhost:35729/livereload.js"></script>
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <!--<script src="./vendor/components/bootstrap/dist/js/bootstrap.js"></script>-->
  <script src="/vendor/underscore/underscore.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-route/angular-route.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!--<script src="./vendor/components/angular-resource/angular-resource.js"></script>-->
  <!--<script src="./vendor/components/angular-route/angular-route.js"></script>-->
  <link rel="stylesheet" href="/dist/style.css">
  <script src="/dist/script.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        BountyMongo
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-lg-3" ng-controller="SidebarCtrl">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="btn-group">
          <div class="btn-group server-btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              {{server}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="server-btn" ng-repeat="server in serverList">
                <a ng-click="selectServer(server)">{{server}}</a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-default" ng-click="addServer()">&plus;</button>
          <button type="button" class="btn btn-default" ng-click="removeServer()">&minus;</button>
        </div>

        <ul class="list-group">
          <a class="list-group-item" ng-click="selectDatabase(database)"
             ng-repeat-start="database in databaseList">
            {{database.name}}
          </a>
          <a class="list-group-item list-group-item-sub" ng-click="selectCollection(database,collection)"
             ng-if="database.isActive" ng-repeat="collection in database.collectionList"
             ng-repeat-end>
            {{collection}}
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <!--<div class="well" ng-controller="QueryCtrl">-->
    <!--<button type="button" class="btn btn-default" ng-click="openModal()">-->
    <!--Add Document-->
    <!--</button>-->
    <!--<button ng-click="query()" class="btn btn-default">Query</button>-->
    <!--<label>Page Size:</label>-->
    <!--<select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizeOptions"></select>-->
    <!--</div>-->
    <!--<div class="well" ng-controller="MainCtrl">-->
    <!--<bm-pagination current-page="page"></bm-pagination>-->
    <!--<bm-records records="records"></bm-records>-->
    <!--</div>-->
    <div ng-view></div>
  </div>
</div>

<script type="text/ng-template" id="addServerModal.html">
  <div class="modal-header">
    <h5>URL must be in the format mongodb://user:pass@host:port/dbname</h5>
  </div>
  <div class="modal-body">
    <!--<textarea rows="12" ng-model="mongodbUrl"></textarea>-->
    <input ng-model="mongodb.url" type="text" class="form-control"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-default" ng-click="add()">
      Add
    </button>
  </div>
</script>

<script type="text/ng-template" id="removeServerModal.html">
  <div class="modal-body">
    Remove {{serverName}} from the server list?
    <br/>
    <br/>
    This will not affect any data, and you can add it back at any time.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="no()">
      No
    </button>
    <button type="button" class="btn btn-default" ng-click="yes()">
      Yes
    </button>
  </div>
</script>

</body>
</html>

