<!DOCTYPE html>
<html ng-app='bountyMongo'>
<head>
    <meta charset="UTF-8">
    <title>BountyMongo</title>
    <!--dev:livereload-->
    <script src="//localhost:35729/livereload.js"></script>

    <script src="./vendor/components/jquery/jquery.js"></script>
    <!--<script src="./vendor/components/bootstrap/dist/js/bootstrap.js"></script>-->

    <script src="./vendor/components/angular/angular.js"></script>
    <script src="./vendor/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="./vendor/components/angular-resource/angular-resource.js"></script>-->
    <!--<script src="./vendor/components/angular-route/angular-route.js"></script>-->
    <link rel="stylesheet" href="./dist/style.css">
    <script src="./dist/script.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                BountyMongo
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-3" ng-controller="SidebarCtrl">
        <div class="well">
            <label>Server List:</label>
            <select ng-model="server" ng-options="server.host for server in serverList"></select>
            <ul class="sidebar-database-list">
                <li bm-sidebar ng-repeat="database in databaseList"></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="well" ng-controller="QueryCtrl">
            <button type="button" class="btn btn-default" ng-click="openModal()">
                Add Document
            </button>
            <button ng-click="query()" class="btn btn-default">Query</button>
            <label>Page Size:</label>
            <select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizeOptions"></select>
        </div>
        <div class="well" ng-controller="MainCtrl">
            <bm-pagination current-page="page"></bm-pagination>
            <bm-records records="records"></bm-records>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addDocumentModal.html">
    <div class="modal-header">
        <h5>Only Pure JSON Accept</h3>
    </div>
    <div class="modal-body">
        <textarea rows="12"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default">
            Add
        </button>
        <button type="button" class="btn btn-warning">
            Cancel
        </button>
    </div>
</script>
</body>
</html>

