@import "../../vendor/bootstrap/less/bootstrap.less";
//@import "bootstrap/bootstrap.less";
@import "variables.less";

body {
  //  padding-top: 50px;
  //  background-color:@gray-lighter;
}

//.pagination {
//  margin-top: 0px;
//  margin-bottom: 0px;
//}

.nav, .pagination, .carousel, .panel-title, .btn, .server-btn a ,.list-group-item{
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  resize: none;
  width: 100%;
}

.server-btn-group {
  margin-bottom: 15px;
  width: 100%;
  .btn {
    width: 100%;
  }
}

.list-group-item-variant(sub; #F7F7F9; lighten(#000, 50%));
