@import "../../vendor/bootstrap/less/bootstrap.less";
//@import "bootstrap/bootstrap.less";
@import "variables.less";
@import "modal.less";
@import "list.less";

.pagination {
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  //  >li>a{
  //    min-width: 16px;
  //  }
}

.nav, .pagination, .carousel, .panel-title, .btn, .list-group-item, .dropdown-menu {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea {
  resize: none;
  width: 100%;
}

.server-btn-group {
  margin-bottom: 15px;
  width: 100%;
  > .server-btn > {
    width: 100%;
    margin-right: -70px;
    padding-right: 65px;
    .btn {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
  > .server-btn-operation {
    display: inline-block;
    float: right;
  }
}

.document {
  display: block;
}
