.remove-server-modal {
  & > .modal-dialog {
    width: 400px;
  }
  .modal-body {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .modal-footer {
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
}

.add-server-modal {
  .modal-header {
    padding-top: 9px;
    padding-bottom: 10px;
  }
  .modal-footer {
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
}

.add-document-modal {
  .ace_editor {
    height: 200px;
  }
  .modal-body{
    >h3{
      margin: 0;
    }
  }
  .modal-footer{
    margin-top: 0px;
  }
}
