<div class="panel panel-default">
  <div class="panel-body action-panel">
    <div class="action-primary">
      <a class="btn btn-default" ng-click="addDocument()">
        Add Document
      </a>
      <bounty-pagination current-page="page"
                         total-items="count"
                         items-per-page="pageSize">
      </bounty-pagination>
    </div>
    <div ng-show="isMore" class="action-advance">
      <div class="row">
        <div class="col-md-8">
          <div class="action-block action-operation">
            <a class="btn btn-default">
              Drop Collection
            </a>
          </div>
          <bounty-query query="queryString"></bounty-query>

        </div>
        <div class="col-md-4">
          <!--<bounty-sort-items sort="sortArray"></bounty-sort-items>-->
          <div class="action-sort action-block" bounty-items ng-controller="SortCtrl">
            <div class="btn btn-default disabled item-group-name">{{item.name}}</div>
            <div class="btn btn-default item-group-value" ng-click="switchValue($index)">{{item.value|sort}}</div>
            <div class="btn btn-default item-group-remove" ng-click="removeItem($index)">&times;</div>
          </div>
          <div class="action-field action-block" bounty-items ng-controller="FieldsCtrl">
            <div class="btn btn-default disabled item-group-name">{{item.name}}</div>
            <div class="btn btn-default item-group-value" ng-click="switchValue($index)">{{item.value|fields}}</div>
            <div class="btn btn-default item-group-remove" ng-click="removeItem($index)">&times;</div>
          </div>
          <a class="btn btn-default btn-block" ng-click="find()">
            find
          </a>
        </div>
      </div>

      <!--<div class="row">-->
      <!--<div class="col-md-8">-->

      <!--</div>-->
      <!--<div class="col-md-4">-->
      <!--<bounty-sort-items sort="sortArray"></bounty-sort-items>-->
      <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->
      <!--<div class="col-md-12">-->
      <!--<a class="btn btn-default btn-lg" ng-click="query()">-->
      <!--query-->
      <!--</a>-->
      <!--</div>-->
      <!--</div>-->

    </div>
    <a class="btn btn-default btn-block action-toggle" ng-click="toggleOperation()">
      <span class="caret"></span>
    </a>
  </div>

  <div class="panel-body">
    <article ng-repeat="document in records">
      <!--<pre>{{document|json}}</pre>-->
      <bounty-document document="document"></bounty-document>
    </article>
  </div>
  <div class="panel-body">
    <bounty-pagination current-page="page"
                       total-items="count"
                       items-per-page="pageSize">
    </bounty-pagination>
  </div>
</div>
