<div class="panel panel-default">
  <div class="panel-body operation">
    <div class="operation-basic">
      <a class="btn btn-default" ng-click="addDocument()">
        Add Document
      </a>
      <bounty-pagination current-page="page"
                         total-items="count"
                         items-per-page="pageSize">
      </bounty-pagination>
    </div>
    <div ng-show="isMore" class="operation-more">
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-default">
            Drop Collection
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
          <bounty-sort-items sort="sortArray"></bounty-sort-items>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-default btn-block more" ng-click="query()">
            query
          </a>
        </div>
      </div>

    </div>
    <a class="btn btn-default btn-block more" ng-click="toggleOperation()">
      <span class="caret"></span>
    </a>
  </div>

  <div class="panel-body">
    <article ng-repeat="document in records">
      <!--<pre>{{document|json}}</pre>-->
      <bounty-document document="document"></bounty-document>
    </article>
  </div>
  <div class="panel-body">
    <bounty-pagination current-page="page"
                       total-items="count"
                       items-per-page="pageSize">
    </bounty-pagination>
  </div>
</div>
